<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="reportService"/>
    <springProperty scope="context" name="logstashHost" source="logging.logstash.host" defaultValue="localhost"/>
    <springProperty scope="context" name="logstashPort" source="logging.logstash.port" defaultValue="5000"/>
    <springProperty scope="context" name="appCluster"   source="app.cluster"          defaultValue="local"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <levelValue>[ignore]</levelValue>
                <stackTrace>exception</stackTrace>
            </fieldNames>
            <customFields>{"service_name":"${appName}","cluster":"${appCluster}"}</customFields>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <maxLength>2048</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashHost}:${logstashPort}</destination>
        <reconnectionDelay>1 second</reconnectionDelay>
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <levelValue>[ignore]</levelValue>
                <stackTrace>exception</stackTrace>
            </fieldNames>
            <customFields>{"service_name":"${appName}","cluster":"${appCluster}"}</customFields>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <maxLength>2048</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
